body {
  background: #0e0e0e;
  color: white;
  font-family: sans-serif;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

input {
  padding: 8px;
  margin-right: 6px;
}

button {
  padding: 8px 14px;
  margin: 6px;
  cursor: pointer;
}

.start {
  background: green;
  color: white;
}

.draw {
  background: #444;
  color: white;
}

.card {
  font-size: 48px;
  margin: 20px;
}

.active {
  color: #00ff99;
  font-weight: bold;
}

.game-over {
  margin-top: 30px;
}
