body {
  margin: 0;
  background: #f4f4f4;
  font-family: system-ui, sans-serif;
}

.app {
  max-width: 420px;
  margin: auto;
  padding: 16px;
}

h1 {
  text-align: center;
}

.info {
  text-align: center;
  margin-bottom: 10px;
}

.card {
  background: black;
  color: white;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 12px;
}

.seat {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 8px;
  align-items: center;
}

.seat.active {
  outline: 3px solid #22c55e;
}

.seat input {
  border: none;
  font-weight: bold;
}

.seat input:focus {
  outline: none;
}

.draw {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 12px;
  font-size: 16px;
}
